*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    /* background-color: beige; */

}

nav{
    width: 100%;
    height: 12%;
    background-color:rgb(155, 108, 155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;   

}

nav .logo{
    text-transform: capitalize;
    background-color: rgb(132, 185, 174);
    font-size: 30px;
    padding: 0px 8px;
    letter-spacing: 2px;
    /* color: rgb(24, 24, 24); */
    color: white;

}
nav .logo span{
    color: rgb(2, 132, 245);
    font-weight: 600;
}

nav .login{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .login button{
    width: 80px;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    transition: 0.1s;
}
.login button:hover{
    background-color: rgb(219, 255, 183);
    transform: scale(95%);
}
nav .login .profile{
    width: 35px;
    height: 35px;
    background-color:rgb(152, 145, 197);
    border-radius: 50%;
    border: 2px solid white;
    transition: 0.9s;
}
.login .profile:hover{
    border: 2px solid rgb(30, 255, 0);
}
/* -------------------------main----------------------- */
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 60px; 
}

.context-1{
    height: 220px;
    flex-basis: 55%;
    /* background-color:khaki; */
    color:rgba(0, 0, 0, 0.767);
    
}
.context-1 .sub-head h1{
    font-size: 56px;
}
.context-1 .sub-head h2{
    font-size: 32px;

}
.context-1 .sub-head p{
    font-size: 20px;
    margin-top: 20px;
}
.context-2{
    flex-basis: 40%;
    height: 220px;
    background-color: rgb(214, 229, 230);
    background-image: url(img/fist.jpg);
    /* overflow: hidden; */
    background-size: cover;
    /* background-position:center;   */
}
.context-2 img{
    width: 100%;
}
.mid-text{
    /* background-color:palevioletred; */
    height: fit-content;
    width: fit-content;
    margin-top: 110px;
    margin-left: 10px;
}
/* ---------------------box------------------------------- */
.box{
    /* background-color:lightgray; */

    width: 100%;
    height: 45%;
    /* padding: 0px 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position:relative */
    flex-wrap: wrap;
}
.box .bb{
    width: 220px;
    height: 220px;
    transition: 0.2s;
}
.bb:hover{
    transform: scale(95%);
}

.box .bb .part-1{
    width: 100%;
    height: 40%;
    background-color:rgba(105, 90, 205, 0.534);
    border-radius: 20px 20px 0 0;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
}
.box .bb .part-2{   
    width: 100%;
    height: 60%;
    background-color: rgba(144, 238, 144, 0.678);
    border-radius: 0 0 20px 20px;
    padding: 20px 10px;
    text-align: start;
}
.box .bb .cir-img{
    position: relative;
    left: 42%;
    
    top: -155px;
    width: 40px;
    height: 40px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    
}

#links{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.syll{
    width: 80%;
    height: 80%;
    /* background-color: #aacc20; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.syll h3{
    font-size: 30px;
    width: fit-content;
    color: #262626;
    padding: 20px;
    text-transform: capitalize;
}
.item{
    width: 95%;
    height: 60vh;
    /* background-color: rgb(247, 252, 183); */
    /* margin: 10px 20px;  */
    padding: 60px 100px;
    display: flex;
    flex-wrap: wrap;
  
}
.ss{
    width: 360px;
    height: 80px;
    background-color:#e6e6e6;
    margin: 5px;
    /* margin-right: 25px; */
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 25px;
    font-weight: 600;
    color:#262626;
    transition: 0.8s;
}
.ss:hover{
    transform: scale(95%);
    box-shadow: 1px 1px 30px rgb(226, 78, 255);
}






/* -------------------contact----------------------- */
#page2{
    width: 100%;
    height: 94vh;
    background-color: #1b1b1b;  
    padding : 5% 10% ;
    color: #fff;

}
.copyright{
    width: 100%;
    height: 6vh;
    background-color: #262626;
    color: #ababab;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;   
    color: #ffffff;                       /*change */             
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.rowsss{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.cov{
    display: flex;
}
.contact-left .p-l{
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}
.contact-left .p-l .icon{
    margin: 30px 0 0;

}
.contact-left .p-r{
    width: fit-content;
    padding: 10px;

    /* background-color: chartreuse; */
}
.contact-left p{
    width: fit-content;
    margin-top: 30px;
    margin-left: 20px;
}

.contact-left p{
    color:#ababab;
    /* margin-right: 15px; */
    font-size: 18   px;
}
.social-icons {
    margin: 30px 0 0;
    /* background-color: #db3161; */
    display: flex;
}
.icon{
    width: 30px;
    height: 30px;
    /* background-color: #fff; */
    margin: 0 10px;
}
.icon img{
    width: 100%;
    background-size: cover;
    /* background-color: #f5f5f5; */
    transition: transform 0.5s;

}

.social-icons img:hover{
    background-color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background:#ff004f;           /*change */
    font-size: 1.5em;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border: 1px solid #db3161;      /*change */
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;       /*change   #262626*/ 
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}
form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}




@media only screen and (max-width: 600px){
    nav{
        width: 100%;
        height: 10%;
        padding: 2px 10px;
        /* display: flex;
        justify-content: space-between; */
        /* position: fixed; */
    }
    nav .logo{
        font-size: 26px;
    }
    nav .login{
        justify-content:space-around;
    }
    #container{
        width: 100%;
        height: 100vh;
    }
    #main{
        height: 85%;
        padding: 18px 5px;
    }

    .context-1,.context-2{
        flex-basis: 100%;
        margin: 0px 10px;
        padding: 1px 5px;
    }
    .context-1{
        height: 140px;
    }
    .context-2{
        height: 150px;
        z-index: 1;
    }
    .context-1 .sub-head h1{
        font-size: 32px;
        /* background-color: #b19ca2; */
    }
    .sub-head{
        height: 100%;
        /* background-color: #ff004f; */
    }
    /* check sub head */
    .context-1 .sub-head h2{
        font-size: 20px;
    }
    .context-1 .sub-head p{
        font-size: 16px;

    }
    .box{
        height: 240px;
        justify-content:space-evenly;
    }
    .box .bb{
        width: 110px;
        height: 110px;
    }
    .box .bb .part-1{
        font-size: 10px;
    }   
    .box .bb .part-2{
       font-size: 10px ;
       padding: 8px 6px;
       text-align: center;
    }
    .box .bb .cir-img{
        top: -70%;
        left: 40%;
        width: 20px;
        height: 20px;
    }
    .mid-text{
        margin-top: 45%;
        font-size: 12px;
    }
    #links{
        width: 100%;
        display: flex;
        height: 100vh;
        padding: 12px;
        font-size: 12px;
        /* background-color: chartreuse; */
    }
    .ss{
        width: 320px;
        height: 220;
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
        /* padding: 0; */
        /* margin: 0; */
        gap: 0;
    }
    .item{
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
        justify-content: space-evenly;
        padding: 20px 0%;
        align-items: flex-start;
    }
    .sub-title{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .syll{
        width: 100%;   
        height: 100%;
        display: block;
    }
    .syll h3{
        width: fit-content;
        font-size: 36px;
        /* text-align: center; */
    }

    #page2{
        height: 100vh;
        width: 100%;
        padding: 12px;
    }
    .rowsss{
        height: 80%;
    }
    .contact-left .sub-title{
        font-size: 32px;
        text-align: end ;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
        padding: 10px 10px;
    }
    .contact-left{
        width: 100%;
        height: 40%;
    }
    .contact-right{
        height: 30%;
    }
    .btn{
        margin: 20px 0;
        padding: 6px 8px;
        width: 140px;
        height: 40px;
        text-align: center;
        font-size: 32px;
    }
    .btn2{
        /* margin-top: 0; */
        font-size: 12px;
        text-align: center;
        /* margin-bottom: 20px; */
        /* align-items: center; */
    }
    .btn.btn2{
        text-align: center;
        padding: 6px 8px;
        font-size: 18px;
    }
    form{
        height: 40%;
    }
    form input,form textarea{
        width: 100%;
        font-size: 16px;
        margin: 5px 1px;
        padding: 14px 16px;
    }
    .copyright{
        width: 100%;
        height: 50px;
        font-size: 20px;
        /* padding: 16px 50px; */
    }
}