*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    background-color: beige;

}

nav{
    width: 100%;
    height: 12%;
    background-color:rgb(177, 143, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;   

}

nav .logo{
    text-transform: capitalize;
    background-color: rgb(132, 185, 174);
    font-size: 30px;
    padding: 0px 8px;
    letter-spacing: 2px;
    /* color: rgb(24, 24, 24); */
    color: white;

}
nav .logo span{
    color: rgb(2, 132, 245);
    font-weight: 600;
}

nav .login{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .login button{
    width: 80px;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
}
nav .login .profile{
    width: 35px;
    height: 35px;
    background-color:slateblue;
    border-radius: 50%;
    border: 2px solid white;
}
/* -------------------------main----------------------- */
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 60px; 
}

.context-1{
    height: 220px;
    flex-basis: 55%;
    background-color:khaki;
    color:rgba(0, 0, 0, 0.767);
    
}
.context-1 .sub-head h1{
    font-size: 56px;
}
.context-1 .sub-head h2{
    font-size: 32px;

}
.context-1 .sub-head p{
    font-size: 20px;
    margin-top: 20px;
}
.context-2{
    flex-basis: 40%;
    height: 220px;
    background-color: rgb(214, 229, 230);
}

.mid-text{
    background-color:palevioletred;
    height: fit-content;
    width: fit-content;
    margin-top: 65px;
}
/* ---------------------box------------------------------- */
.box{
    /* background-color:lightgray; */

    width: 100%;
    height: 45%;
    /* padding: 0px 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position:relative */
}
.box .bb{
    width: 220px;
    height: 220px;

}

.box .bb .part-1{
    width: 100%;
    height: 40%;
    background-color:rgba(105, 90, 205, 0.534);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .bb .part-2{
    width: 100%;
    height: 60%;
    background-color: rgba(144, 238, 144, 0.678);
    border-radius: 0 0 20px 20px;
    padding: 20px 10px;
    text-align: start;
}
.box .bb .cir-img{
    position: relative;
    left: 42%;
    
    top: -155px;
    width: 40px;
    height: 40px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    
}

#links{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.syll{
    width: 80%;
    background-color: #e7f1c0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.syll h3{
    background-color:skyblue;
    font-size: 30px;
    width: fit-content;
}
.item{
    width: 80%;
    height: 50vh;
    background-color: rgb(202, 202, 202);
    /* margin: 10px 20px;  */
    padding: 60px 100px;
    display: flex;
    flex-wrap: wrap;
  
}
.ss{
    width: 300px;
    height: 50px;
    background-color: white;
    margin: 5px;
}






/* -------------------contact----------------------- */
#page2{
    width: 100%;
    height: 94vh;
    background-color: rgb(230, 221, 221);   /*change */
    padding : 5% 10% ;
    color: #fff;

}
.copyright{
    width: 100%;
    height: 6vh;
    background-color: #262626;
    color: #ababab;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;   
    color: #262626;                       /*change */             
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.rowsss{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 15px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #bebebe;           /*change */
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border: 1px solid #b19ca2;      /*change */
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ffffff;       /*change   #262626*/ 
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}
form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}